{
  "version": "v63",
  "project_name": {{ project_name|tojson }},
  "primary_template_engine": {{ active_engine|tojson }},
  "optional_template_engine": {{ optional_engine|tojson }},
  "policy": {{ selected_template_policy|tojson }},
  "style_rules": [
    "simple_silhouette_first",
    "readable_short_phrases",
    "static_to_animated_identity_lock",
    "gif_preview_must_be_visible",
    "abstract_trend_signal_only",
    "no_existing_character_clone"
  ],
  "trend_signals": {{ trend_signals|tojson }},
  "intended_outputs": {{ intended_outputs|tojson }}
}
